@model Labaratory.Models.ViewModels.EditUserViewModel
@{
    ViewBag.Title = "Изменение пользователя";
}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh; padding: 20px;">
    <!-- Форма изменения -->
    <div class="col-xl-6">
        <div class="card pd-30 pd-sm-50 form-layout form-layout-4">
            <h6 class="card-body-title">Форма изменения</h6>
            <p class="mg-b-30 mg-sm-b-40">Измените информацию пользователя.</p>
            <form asp-action="Edit" asp-controller="Users" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <input type="hidden" asp-for="Id" value="@Model.Id"/>

                <div class="row mg-b-20">
                    <label class="col-sm-4 form-control-label">Логин: <span class="tx-danger">*</span></label>
                    <div class="col-sm-8">
                        <input type="text" asp-for="Login" class="form-control form-control-lg" placeholder="Введите логин" value="@Model.Login">
                    </div>
                </div>

                <div class="row mg-b-20">
                    <label class="col-sm-4 form-control-label">Пароль: <span class="tx-danger">*</span></label>
                    <div class="col-sm-8">
                        <input type="password" asp-for="Password" class="form-control form-control-lg" placeholder="Введите новый пароль" value="@Model.Password">
                    </div>
                </div>

                <div class="row mg-b-20">
                    <label class="col-sm-4 form-control-label">Имя: <span class="tx-danger">*</span></label>
                    <div class="col-sm-8">
                        <input type="text" asp-for="FirsName" class="form-control form-control-lg" placeholder="Введите имя" value="@Model.FirsName">
                    </div>
                </div>

                <div class="row mg-b-20">
                    <label class="col-sm-4 form-control-label">Фамилия: <span class="tx-danger">*</span></label>
                    <div class="col-sm-8">
                        <input type="text" asp-for="LastName" class="form-control form-control-lg" placeholder="Введите фамилию" value="@Model.LastName">
                    </div>
                </div>

                <div class="row mg-b-20">
                    <label class="col-sm-4 form-control-label">Email: <span class="tx-danger">*</span></label>
                    <div class="col-sm-8">
                        <input type="email" asp-for="Email" class="form-control form-control-lg" placeholder="Введите Email" value="@Model.Email">
                    </div>
                </div>

                <div class="form-layout-footer text-center">
                    <button type="submit" class="btn btn-info btn-lg mg-r-10">Сохранить изменения</button>
                    <a href="Index" class="btn btn-secondary btn-lg">Отмена</a>
                </div><!-- form-layout-footer -->
            </form>
        </div><!-- card -->
    </div><!-- col-6 -->
</div><!-- row -->
